.mantine-Carousel-indicators {
  bottom: -16px;
}

.mantine-Carousel-indicator {
  background-color: #a5cfff;
  width: 7px;
  height: 7px;
}

#react-doc-viewer {
  scrollbar-width: none;
}

#react-doc-viewer #msdoc-renderer {
  height: calc(100vh) !important;
}
